File:
F1: The user shall be able to create a new project
F2: The user shall be able to open a previous project
F3: The user shall be able to save a project
F4: The user shall be able to close the project
F5: The user shall be able to exit the system

Edit:
E1: The user shall be able to undo an action
E2: The user shall be able to redo an action
E3: The user shall be able to cut selected data
E4: The user shall be able to copy selected data
E5: The user shall be able to paste selected data
E6: The user shall be able to delete selected data
E7: The user shall be able to draw selected data
E8: The user shall be able to select data

View:
V1: The user shall be able to toggle a grid on the map
V2: The user shall be able to zoom in the map
V3: The user shall be able to zoom out the map
V4: The user shall be able to show a minimap

Map:
M1: The user shall be able to add a tileset
M2: The user shall be able to resize the map
M3: The user shall be able to offset the map
M4: The user shall be able to add tile properties
M5: The user shall be able to remove a tileset

Tile:
T1: Set tile properties

Layer:
L1: The user shall be able to add a layer
L2: The user shall be able to remove a layer
L3: The user shall be able to duplicate a layer
L4: The user shall be able to change the layer index
L5: The user shall be able to show a layer
